  .header {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: rgb(155, 0, 0);
  }
  
  .header-image {
    flex: 0 0 auto; /* Ensures the image column does not grow */
    margin-right: 10px;
  }
  
  .header-image img {
    width: 50px; /* Adjust according to your preference */
    height: 50px; /* Adjust according to your preference */
    border-radius: 50%; /* Creates a circular shape */
  }
  
  .header-details {
    flex: 1; /* Allows the details column to grow to fill available space */
  }
  
  .header-details h5 {
    margin: 0;
    font-weight: bold;
    color: white;
  }
  
  .header-details p {
    margin: 0;
    font-size: smaller;
    color: white;
  }
//  ul {
//   display: flex;
//   justify-content: center;
//   list-style: none;
//   padding: 21px 0 10px;
//  }