<div id="frame">
	<!-- <div id="sidepanel">
		<div id="profile" [class.expanded]="expanded">
			<div class="wrap">
				<img
          id="profile-img"
          (click)="expandStatuses = !expandStatuses"
          [class]="activeUser.status"
          [src]="activeUser.img"
          alt=""
        />
				<p>{{activeUser.name}}</p>
				<i
          class="fa fa-chevron-down expand-button"
          (click)="expanded = !expanded"
          aria-hidden="true"
        ></i>
				<div id="status-options" [class.active]="expandStatuses">
					<ul>
						<li *ngFor="let item of (statuses | keyvalue)" [attr.id]="'status-'+item.value"
							(click)="activeUser.status = item.value; expandStatuses=false"
							[class.active]="item.value === activeUser.status" [class]="item.value">
							<span class="status-circle"></span>
							<p style="text-transform: capitalize;">{{item.value}}</p>
						</li>
					</ul>
				</div>
				<div id="expanded">
					<ng-container *ngFor="let item of (activeUser?.social | json | keyvalue)">
						<label for="twitter"
              ><i
                class="fa fa-fw"
                [class]="'fa-'+item.key"
                aria-hidden="true"
              ></i
            ></label>
						<input [name]="item.key" type="text" [value]="item.value" />
          </ng-container>
				</div>
			</div>
		</div>
		<div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" placeholder="Search contacts..." />
    </div>
			<div id="contacts" [class.expanded]="expanded">
				<ul>
					<li class="contact" *ngFor="let user of users" (click)="setUserActive(user)"
						[class.active]="activeUser.id === user.id">
						<div class="wrap">
							<span class="contact-status" [class]="user.status"></span>
							<img [src]="user.img" alt="" />
							<div class="meta">
								<p class="name">{{user.name}}</p>
								<p class="preview">
									{{user.messages[user.messages?.length - 1]?.message || ''}}
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div id="bottom-bar">
				<button id="addcontact">
        <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
        <span>Add contact</span>
      </button>
				<button id="settings">
        <i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span>
      </button>
			</div>
	</div> -->

	<div class="content">
		<div class="contact-profile">
			<div class="header">
				<div class="header-image">
					<img [src]="activeUser.img" alt="User image" />
				</div>
				<div class="header-details">
					<h5>{{activeUser.name}}</h5>
					<p>{{activeUser.status}}</p>
				</div>
				<ion-button class="more-vertical-ellipsis" (click)="moreOptions($event)">
					<ion-icon name="ellipsis-vertical"></ion-icon>
				</ion-button>  
			</div>
		</div>

		<div class="messages" #scrollMe>
			<!-- <ul>
				<li [class]="msg.u._id==userId?'sent':'replies'" *ngFor="let msg of messagesArray">
					<img [src]="msg.u._id==userId ? activeUser.img : messageReceivedFrom.img" alt="" />
					<div>
						<p>{{msg?.msg || ''}}</p>
						<label>{{ (msg?.ts?.$date | date: 'shortTime') | slice: 0:5 }} {{ (msg?.ts?.$date | date: 'a') }}
						@if (msg.u._id==userId) {
							<ion-icon name="checkmark-done-outline"></ion-icon>
						}
						</label>
					</div>
				</li>
			</ul> -->
			<ul>
				<li class="start color-info-font-color">
					<div class="rcx-box rcx-box--full rcx-css-1oytvro">
						<div class="rcx-box rcx-box--full rcx-css-10ucj9q">
							<span class="rcx-box rcx-box--full rcx-css-1eogw2f">
								<figure class="rcx-box rcx-box--full rcx-avatar rcx-avatar--x48">
									<img src="/avatar/kiranharidas" class="rcx-avatar__element rcx-avatar__element--x48" aria-hidden="true" data-username="kiranharidas" title="kiranharidas">
								</figure>
							</span>
						</div>
						<div class="rcx-box rcx-box--full rcx-css-g277tj">You have joined a new direct message with</div>
						<div class="rcx-box rcx-box--full rcx-css-1trxkp4"><a class="rcx-box rcx-box--full  rcx-tag rcx-tag--large rcx-tag--clickable rcx-css-1eogw2f" href="/direct/kiranharidas" data-username="kiranharidas"><i aria-hidden="true" class="rcx-box rcx-box--full rcx-icon--name-user rcx-icon rcx-css-4pvxx3"></i><span class="rcx-tag__inner">kiranharidas</span></a>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<div class="message-input">
			<div class="wrap">
				<input type="text" #msgInput placeholder="Write your message..." (keyup.enter)="addNewMessage(msgInput)" />
				<ion-icon class="attachment" name="attach"></ion-icon>
				<button class="submit" (click)="addNewMessage(msgInput)">
					<ion-icon name="send"></ion-icon>
				</button>
			</div>
		</div>
		

		<!-- <div class="message-input">
			<div class="wrap">
				<input type="text" #msgInput placeholder="Write your message..."
					(keyup.enter)="addNewMessage(msgInput)" />
				<ion-icon class="attachment" name="attach"></ion-icon>
				<ion-button>
					<ion-icon slot="icon-only" name="heart"></ion-icon>
				</ion-button> 
				<button class="submit" (click)="addNewMessage(msgInput)">
					<i class="fa fa-paper-plane" aria-hidden="true"></i>
				</button>
			</div>
		</div> -->
	</div>
</div>